<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <h1>
    <%= task.task %> Details</h1>
  <div>
    ID:
    <%= task.id %>
  </div>
  <div>
    Title:
    <%= task.task %>
  </div>
  <div>
    Status:
    <%= task.status %>
  </div>
</body>

</html>